/* TODO: right side of list is misaligned with search bar */
* {
    /*background-color:#2d2a2a;*/
  }

  #main {
    max-width: 500px;
    margin: auto;
  }

div{
  background-color:black;
  padding-top:149;
  padding-right:48px;
  text-align: center;
  background-image: url('custom_images/page_index.jpg');
  background-position:top;
  background-repeat:no-repeat;
}

a:link {
  color: rgb(86, 48, 48);
}

a:visited {
  color: rgb(86, 48, 48);
}

ul {
  list-style-type: none; /* Remove bullets */;
  width:auto;
  height:100%;
  display:block;
  margin:auto;
  padding-bottom:380px;
}

li {
  font-family: Verdana, sans-serif;
  font-size: 27px;
}
